<!doctype html>
<div class="search">
  <form class="input-group" data-ng-submit="vm.search()">
    <input type="text" class="form-control" data-ng-model="vm.query" placeholder="Suchphrase eingeben">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search"></span> Suchen
      </button>
    </span>
  </form>
</div>
<div class="results-list">
  <div data-ng-hide="vm.searchquery">
    <h1>{{vm.data.totalElements}} Artikel</h1>
  </div>
  <div data-ng-show="vm.searchquery">
    <h1>{{vm.data.totalElements}} Artikel über {{vm.searchquery}}</h1>
  </div>
  <div class="text-center">
    <uib-pagination total-items="vm.data.totalElements" data-ng-model="vm.data.number" data-ng-change="vm.pageChanged()" items-per-page="vm.data.size" boundary-links="true" rotate="false" max-size="3" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
  <div class="panel panel-info text-center" data-ng-repeat="(key, value) in vm.data.content">
    <div class="panel-heading">
      <a data-ng-href="{{value.url}}">{{value.title}}</a>
    </div>
    <div class="panel-body">{{value.snippet}}</div>
    <div class="panel-footer">
      <a href="http://www.lvz.de/Abo-Leserservice/Servicetexte/Impressum">{{value.copyright}}</a>
      veröffentlicht am: {{value.datePublished | date:'dd.MM.yyyy, HH:mm'}} Uhr
    </div>
  </div>
  <div class="text-center">
    <uib-pagination total-items="vm.data.totalElements" data-ng-model="vm.data.number" data-ng-change="vm.pageChanged()" items-per-page="vm.data.size" boundary-links="true" rotate="false" max-size="3" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</div>
