/* You can add global styles to this file, and also import other style files */
@import 'app/app.component.css';
@import 'fonts.css';
@import 'leaflet/dist/leaflet.css';

@tailwind components;
@tailwind utilities;

@layer utilities {
  .map-search-lt-md {
    height: 310px !important;
  }

  .split-wrapper-lt-md {
    height: 800px !important;
  }

  .footer-lt-md {
    height: 120px !important;
    flex-direction: column !important;
  }
}
