<div class="min-h-screen flex flex-col">
  <mat-toolbar class="flex justify-between">
    <img src="logo.png" alt="Polizeiticker Logo">
    <a href="http://codefor.de">
      <img class="h-10" src="CFG_logo.svg" alt="CodeforLeipzig Logo">
    </a>
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs="false">
    <mat-tab label="Suche">
      <!-- need to lazy load the tabs, see: https://material.angular.io/components/tabs/overview#lazy-loading -->
      <ng-template matTabContent>
        <lvzviz-search></lvzviz-search>
      </ng-template>
    </mat-tab>
    <mat-tab label="Statistik">
      <ng-template matTabContent>
        <lvzviz-statistic></lvzviz-statistic>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <footer class="mt-auto">
    <mat-toolbar class="flex footer-mat-toolbar">
      <div class="flex-1 text-center text-sm">
        Unser Impressum findet Ihr hier: <a href="https://codefor.de/impressum">Impressum</a>
        <br />
        Des Weiteren beziehen wir uns auf das
        <a href="http://www.lvz-online.de/nachrichten/service/impressum/servicetexte/leistungsschutzrecht/r-servicetexte-a-199230.html"
          >Leistungsschutzrecht der LVZ</a
        >.
      </div>
      <div class="flex-1 text-center text-sm">
        Entwickler sind <a href="https://github.com/RicardoUsbeck">Ricardo</a> und <a href="https://github.com/spinner0815">Lars</a>
        <br />
        Der komplette Code ist auf <a href="https://github.com/CodeforLeipzig/lvz-viz/">GitHub</a>.
      </div>
    </mat-toolbar>
  </footer>
</div>
