#map-search {
  height: 620px;
  width: 100%;
}

.map-search-lt-md {
  height: 310px !important;
}

#split-wrapper {
  height: 620px;
}

.split-wrapper-lt-md {
  height: 800px !important;
}

#filter-article {
  text-align: center;
}

#filter-article, a {
  color: #3c8abf;
}

as-split-area mat-form-field {
  margin-left: 24px;
}

mat-cell .article {
  padding: 8px 0;
}

mat-row.article-row {
  min-height: 0;
}

mat-row.element-row:not(.article-expanded-row):hover {
  background: whitesmoke;
}

mat-row.element-row:not(.article-expanded-row):active {
  background: #efefef;
}

mat-row.element-row mat-cell {
  border-bottom-width: 0;
  cursor: pointer;
}
