.map-search {
  height: 620px;
  width: 100%;
}

.split-wrapper {
  height: 620px;
}

#filter-article, a {
  color: #3c8abf;
}

.article-detail-row {
  height: 0 !important;
}

.article-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.article-element-detail {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.open {
  max-height: 500px;
}
