.map-search {
  height: 620px;
  width: 100%;
}

.split-wrapper {
  height: 620px;
}

#filter-article, a {
  color: #3c8abf;
}

.article-detail-row {
  height: 0 !important;
}

.article-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}
