body {
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
  overflow-y: scroll;
}

footer mat-toolbar {
  height: 32px;
}

mat-tab-body {
  padding: 10px;
}

footer a {
  color: #3c8abf;
}
