<div class="col-xs-2 col-md-1 col-md-offset-1 ">
    <button ng-mousedown="runbackwardautomatic()" ng-mouseup="stop()" class="btn btn-lg"><span class="glyphicon glyphicon-backward"></span></button>
</div>
<div class="col-xs-2 col-md-1">
    <button ng-click="runbackward()" class="btn btn-lg"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div class="col-xs-4 col-md-6 text-center"> Halten sie einen der beiden äußeren Buttons gedrückt damit sich der Slider automatisch zwischen dem gewünschten Zeitfenster bewegt.</div>
<div class="col-xs-2 col-md-1">
    <button ng-click="runforward()" class="btn btn-lg"><span class="glyphicon glyphicon-arrow-right"></span></button>
</div>
<div class="col-xs-2 col-md-1">
    <button ng-mousedown="runforwardautomatic()" ng-mouseup="stop()" class="btn btn-lg"><span class="glyphicon glyphicon-forward"></span></button>
</div>