<div class="mat-app-background">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    {{ appname }}
  </mat-toolbar>
  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel">
    <a mat-tab-link
      *ngFor="let routeLink of routes | appRouting"
      [routerLink]="routeLink.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{ routeLink.path }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
