@use "@angular/material" as mat;

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  @include mat.theme((
    typography: Roboto,
    density: 0,
  ));
}

.rose-red-theme {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
  ));
}

.azure-blue-theme {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  ));
}

.magenta-violet-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
  ));
}

.cyan-orange-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
  ));
}

.custom-theme {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$chartreuse-palette,
  ));
}

mat-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-on-primary-container),
  ));
}
